.container {
	position: relative;
	background-image: url('/images/dark-mosaic.png'),
		linear-gradient(180deg, var(--color-background-accent) 0%, rgba(0, 0, 0, 0.483) 100%);
	background-repeat: repeat, no-repeat;
	color: var(--color-accent-light);
	z-index: 3;
	width: 100%;

	font-family: 'Tangerine';
	font-weight: 400;
	user-select: none;

    border-bottom: 4px solid var(--color-accent-light);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.title {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 1rem;
	align-items: center;
	padding: 0 1rem 0 1rem;
}

.title > h1 {
	justify-self: start;
}

.title > .social {
	justify-self: end;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1100px) {
	.title > h1 {
		font-size: 3rem;
		text-align: left;
	}
}

@media only screen and (max-width: 768px) {
	.title {
		font-size: 2rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
	}

	.title > h1 {
		font-size: 2rem;
	}

	.title > .social {
		display: none;
	}

    .container {
        padding-bottom: 0.75rem;
        border-bottom: 2px solid var(--color-accent-light);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .mobile {
        display: block;
    }
}
